// Color variables
$white: #fff;
$dark: #00171f;
$primary: #505bda;
$secondary: #272343;
$red: #fe346e;

// Breakpoint
$breakpoint-desktop: 1024px;

// Box Shadows
$box-shadow-1: 0px 8px 29px -11px rgba(0,0,0,.3);
  
// Space
$spaceamounts: (5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 75, 100);

// Font
$font-family: 'Roboto', serif;
$base-font-size: 16px;
$base-color: $secondary;
$link-color: $white;
$header-size: 40px;

